@model Spotify.Models.LoginViewModel
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/spotify.css">

</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Spotify.png/768px-Spotify.png" alt="Spotify Logo" class="spotify-logo"> <h1>Spotify</h1>
            </div>
        </div>
    </header>
<main class="container">

    <h1> Inicia sesión en Spotify</h1>
    <div class="form-container">
       <!-- Formulario de Login -->
        <form asp-action="Login" method="post">
            <!-- Agrega campos para email/username y contraseña según tu necesidad -->
            <div class="form-group">
                    <label for="inputEmail">Correo electrónico o nombre de usuario</label>
                <input asp-for="UsernameOrEmail" class="form-control" placeholder="Ingresa tu email o nombre de usuario" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Ingresa tu contraseña     " required>
            </div>
            <button type="submit" id="btn-spotify" class="slide_right">Inicia Sesión</button>
        </form>
    </div>
</main>
 
    <footer>
        <h3>Spotify</h3>
        <div>
            <a href="TyP.html">Términos y Aviso de Privacidad</a>
            <a href="Comentario.html">Envianos tus comentarios</a>
        </div>
        <p>&copy; 2023 Spotify | Universidad Catolica Boliviana | Todos los derechos reservados</p>
    </footer>
</body>
</html>
