/* Estilos generales */
body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.header-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    margin-bottom: 20px; /* Ajusta según tus preferencias */
}

.spotify-logo {
    width: 60px; /* Ajusta el ancho según tus preferencias */
    height: auto; /* Hace que la altura se ajuste automáticamente manteniendo la proporción */
    margin-right: 10px; /* Ajusta el margen derecho según tus preferencias */
}

h1, h4 {
    color: #ff4444; /* Rojo para el encabezado y subtítulos */
    margin-right: 10px; /* Centrar el texto */
}

.row {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
}

/* Formulario de borrado */
.col-sm-2, .col-sm-10 {
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Botón de Borrar */
.btn-danger {
    background-color: #ff4444; /* Rojo para el botón de borrar */
    border: none;
    border-radius: 5px;
    padding: 15px 30px; /* Ajustar el relleno */
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, font-size 0.3s;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc0000; /* Cambio de color al pasar el ratón */
    font-size: 20px; /* Ajustar el tamaño de la fuente al pasar el ratón */
    font-weight: bold;
}

/* Volver a la lista */
a {
    color: #1db954;
    display: block; /* Para centrar en el espacio disponible */
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Añadir espacio en la parte superior */
}

a:hover {
    text-decoration: underline;
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-item {
    flex: 0 0 48%; /* Ajusta según tus preferencias */
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
    color: #1db954;
    margin-bottom: 5px;
}

dd {
    margin: 0 0 0 15px;
}