body {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif; /* Utiliza la fuente Roboto para todo el cuerpo */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    font-family: 'Roboto', sans-serif; /* Utiliza la fuente Roboto para las etiquetas */
    color: white; /* Texto en color blanco */
    font-size: 18px; /* Ajusta el tamaño del texto de la etiqueta */
    
}

.spotify-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px; /* Espacio a la derecha del logo */
}

h1 {
    display: inline-block; /* Para que el título y el logo estén en la misma línea */
    font-size: 24px; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Espacio inferior al título */
}

.form-container {
    max-width: 400px;
    margin: 20px auto; /* Agregado margen superior e inferior al formulario */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre cada campo del formulario */
}

.form-control {
    border: 3px solid #1DB954; /* Color verde de Spotify */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    color: black; /* Texto en color negro */
    font-size: 16px; /* Ajusta el tamaño del texto */
}

.form-control:focus {
    border-color: #1DB954; /* Color verde cuando el campo está enfocado */
    box-shadow: 0 0 5px rgba(29, 185, 84, 0.5); /* Sombra verde tenue cuando el campo está enfocado */
    color: black; /* Texto en color negro */
}

#btn-spotify.slide_right {
    color: #030303;
    border: 2px solid #312f30;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px 36px; /* Ajusta el padding del botón */
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Ajusta el tamaño del texto del botón */
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #312f30;
    transition: ease-out 0.4s;
}

#btn-spotify.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #1DB954; /* Cambié el color a verde */
    border-radius: 10px;
    color: #000000;
    font-size: 20px;
}

